<div class="container">

    <% if(sessionFlash){ %>
        <div class="<%= sessionFlash.type %>">
            <%= sessionFlash.message %>
        </div>
    <% } %>

    <h2>Follow us on our social media accounts</h2>
    <hr><br><br>
    <h4>Follow us on our social media addresses to be the first to know about our innovations.</h4><br><br>

    <h4>Instagram: @exampleInstagram</h4><br>
    <h4>Twitter: @exampleTwitter</h4><br>
    <h4>Facebook: @exampleFacebook</h4><br>

    <br><br><br><br>
    <br><br><br><br><br>
</div>