<div class="container">

    <% if(sessionFlash){ %>
        <div class="<%= sessionFlash.type %>">
            <%= sessionFlash.message %>
        </div>
    <% } %>

    <h2>Why Us?</h2>
    <hr><br>
    <h4>We have best address book in the world</h4><br>
    <h4>We are open to innovations. We will continue to present our new projects to you! </h4>
</div>


<br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>
